@import "bootstrap/scss/bootstrap";

/* Generic HTML Tags */
html {
  position: relative;
  min-height: 100%;
}
body {
}
a {
  text-decoration: none;
}
/* Header */
.header {
  width: 100%;
  height: 200px;
  position: fixed;
  background: white;
  color: #000;
  transition: height 500ms, background 500ms;
}
.header.tiny {
  // when scrolling header shrinks
  height: 60px;
  background: rgb(255, 255, 255);
  color: #fff;
}
#logo-container {
  padding-top: 10px;
  transition: height 500ms, background 500ms;
}
.logo {
  width: 300px;
  margin: auto;
  text-align: center;
  font-size: 2.5rem;
  color: rgb(0, 0, 0);
  font-family: cormorant;
  border: 5px solid black;
}

/* Navbar */
.navbar-nav {
  float: right;
}

/* Body */
.main-body {
  flex: 1 0 auto;
  position: relative;
  margin-top: 200px;
  margin-bottom: 110px;
}
#bottom-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
}

/* Index page */
.card {
  position: relative;
}
.card-holder:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
}
.card-holder:hover:before {
  background: none;
  cursor: pointer;
}
.card img {
  width: 100%;
  background: rgba(0, 255, 255, 0.5);
}
.card h2 {
  position: absolute;
  bottom: 10%;
  width: 90%;
  margin-left: 5%;
  //   padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  font-size: auto;
  line-height: 30px;
  color: white;
  border-bottom: 2px solid white;
  text-align: left;
  z-index: 99;
  cursor: pointer;
}
.card h6 {
  position: absolute;
  bottom: 20%;

  width: 90%;
  margin-left: 5%;
  color: white;
}
/* Blog Elements */
.blog-post {
  float: left;
  padding: 30px;
  background: #fff;
  border: 1px solid #ddd;
}
.blog-header {
  text-align: center;
}

.blog-img {
  float: right;
  margin-left: 3%;
}

.blog-caption {
}

.blog-body {
}

/* Right Hand side column */
.ads {
  background: #fff;
  border: 1px solid #ddd;
}
