
@import "bootstrap/scss/bootstrap";


/* Generic HTML Tags */
    a {
        text-decoration: none;
    }
/* Header */
    .bg-primary {
        background-image: linear-gradient(to bottom right, blue, rgb(242, 242, 115), purple);
    }
    /* Navbar */
        .logo {           
            color:rgb(255,255,255);
            opacity:0.8;
            font-family: cormorant
        }
        .navbar-nav {
            float: right;
        }

 /* Body */
    .main-body {
        padding-top: 5.5em;
        
    }

 /* Index page */
    .card {
        position: relative;
    }
    .card-holder:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0, 0.3);
        transition: all .3s linear;
      }
      .card-holder:hover:before { 
        background: none;
        cursor: pointer;
      }
    .card img {
        width: 100%;
        background: rgba(0,255,255, 0.5)
    }
    .card h2 {
        position: absolute;
        bottom: 10%;
        width: 100%;
        padding: 15px;
        margin-bottom: 0;
        font-weight: 300;
        font-size: auto;
        line-height: 30px;
        color: white;
        text-align: left;
        z-index: 99;
        cursor: pointer;
        
        
    }
    // .card h3 {
    //     position: absolute;
    //     bottom: 2%;
    //     width: 100%;
    //     padding: 15px;
    //     font-size: 1.5rem;
    //     color:white;
    // }

 /* Blog Elements */
    .blog-post {
        float: left;
        padding: 30px;
        background: #fff;
        border: 1px solid #ddd;
    }
    .blog-header{
        text-align: center
    }

    .blog-img {
        float: right;
        margin-left: 3%
    }

    .blog-caption {
    }

    .blog-body {     
    }

/* Right Hand side */
    .ads {                             
        background: #fff;
        border: 1px solid #ddd;
    }