
//@import "bootstrap-sprockets";
@import "bootstrap";


/* Generic HTML Tags */
    a {
        text-decoration: none;
    }
/* Header */
    .bg-primary {
        background-image: linear-gradient(to bottom right, blue, rgb(242, 242, 115), purple);
    }
    /* Navbar */
        .logo {           
            color:rgb(255,255,255);
            opacity:0.8;
            font-family: cormorant
        }
        .navbar-nav {
            float: right;
        }

 /* Body */
    .main-body {
        padding-top: 5.5em;
        
    }

 /* Index page */
    .list-img {
        float: left
    }

 /* Blog Elements */
    .blog-post {
        float: left;
        padding: 30px;
        background: #fff;
        border: 1px solid #ddd;
    }
    .blog-header{
        text-align: center
    }

    .blog-img {
        float: right;
        margin-left: 3%
    }

    .blog-caption {
    }

    .blog-body {     
    }

/* Right Hand side */
    .ads {                             
        background: #fff;
        border: 1px solid #ddd;
    }